@{
    Layout = "_StaffLayout";
    ViewData["Title"] = "Staff";
}

@model AmbulanceWorkloadManagementSystem.Models.LoginViewModel

<div class="row">
    <div class="col mx-auto">
        <h1 class="display-4">Welcome to your staff overview!</h1>
    </div> 
</div>